.container {
  max-width: 900px;
  margin: 0 20px;
}

.location {
  font-family: Lato;
  margin-bottom: 100px;
  text-align: center;
}

.title {
  font-family: Lato;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.5em;
  margin-bottom: 24px;
}

.description {
  font-family: Lato;
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  max-width: 700px;
  line-height: 1.5;
}

.statusContaier {
  max-width: 700px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statusContaier h2 {
  letter-spacing: 0.2rem;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.5;
}

.statusContaier h3 {
  font-size: 18px;
  line-height: 1.5;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.statusContaier h3 {
  font-size: 18px;
  line-height: 1.5;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}
