.formContaier {
  margin-bottom: 150px;
  height: 100%;
  max-width: 350px;
}

.registrationDesc {
  white-space: pre-line;
  margin: 12px 0;
  text-align: center;
}

.formControl {
  position: relative;
}

#error {
  position: relative;
  height: 100%;
  padding: 10px;
  margin: 100px;
  width: 60%;
  margin-top: 18px;
  margin-bottom: 430px;
  padding-top: 5px;
  color: #ffc15a;
  overflow: hidden;
}

#error h1 {
  color: #ffc15a;
}

.errorText {
  color: #ffc15a;
  font-size: 12px;
  position: absolute;
}

input.formInput:focus {
  border-color: #ffc15a;
  box-shadow: 0 0 8px #ffc15a;
  outline: 0 none;
}

.SubmitBtn {
  margin-top: 30px;
}
