.loading {
  display: flex;
  transform: scale(4);
  justify-content: center;
  padding: 32px;
}

.loading .ball::after {
  content: "⚾️";
  font-size: 5px;
  transition: transform 0.3s infinite;
}

.ball + .ball {
  margin-left: 0.4rem;
}

.loading .ball.one {
  animation: loadingBall 0.5s infinite alternate;
  border-radius: 50%;
}
.loading .ball.two {
  animation: loadingBall2 0.5s infinite 0.2s alternate;
}
.loading .ball.three {
  animation: loadingBall3 0.5s infinite 0.35s alternate;
}
.loading .ball.four {
  animation: loadingBall4 0.5s infinite 0.5s alternate;
}

@keyframes loadingBall {
  0% {
    transform: translateY(-10px) scale(1.2);
    border-radius: 50%;
  }
  100% {
    transform: translateY(5px);
    border-radius: 50%;
  }
}

@keyframes loadingBall2 {
  0% {
    transform: translateY(-10px) scale(1.2);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes loadingBall3 {
  0% {
    transform: translateY(-10px) scale(1.2);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes loadingBall4 {
  0% {
    transform: translateY(-10px) scale(1.2);
  }
  100% {
    transform: translateY(5px);
  }
}
